<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="img/logo.png" alt="">
            <span class="d-none d-lg-block">Hệ thống quản trị</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="/dashboard">
            <input type="text" name="query" placeholder="Tìm kiếm" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->



</header><!-- End Header -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Bệnh Nhân</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/list-patients">
                        <i class="bi bi-circle"></i><span>Danh Sách Bệnh Nhân</span>
                    </a>
                </li>
                <li>
                    <a href="/add-patient">
                        <i class="bi bi-circle"></i><span>Thêm Bệnh Nhân</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Bác sĩ</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/list">
                        <i class="bi bi-circle"></i><span>Danh sách bác sĩ</span>
                    </a>
                </li>
                <li>
                    <a href="forms-layouts.html">
                        <i class="bi bi-circle"></i><span>Thêm bác sĩ</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->







        <li class="nav-heading">Pages</li>



        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/contact/to">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->






    </ul>

</aside>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Thêm bác sĩ</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Thêm bác sĩ</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thêm bác sĩ</h5>
                {{# if success }}
                    <section class="success">
                        <h2> </h2>
                    </section>
                {{ else }}
                    {{# if errors }}
                        <section class="errors">
                            <ul>
                                {{# each errors }}
                                    <li class="alert alert-danger">{{ this.msg }}</li>
                                {{/each}}
                            </ul>
                        </section>
                    {{/if}}
                {{/if}}
                <!-- Vertical Form -->
                <form class="row g-3" action="/adddoctor" id="application-form" method="post">
                    <div class="col-12">
                        <label for="inputNanme4" class="form-label">Username</label>
                        <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="inputNanme4" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="inputEmail4" class="form-label">Password</label>
                        <div class="input-group has-validation">
                        <input type="password" name="password" class="form-control" id="inputEmail4" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="inputPassword4" class="form-label">ID</label>
                        <div class="input-group has-validation">
                        <input type="number" name="id" class="form-control" id="inputPassword4" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Họ Và Tên</label>
                        <div class="input-group has-validation">
                        <input type="text" name="name" class="form-control" id="inputAddress" placeholder="Nguyen Van A" required>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="label">Giới Tính</label>
                        <div class="input-group">
                            <div class="p-t-10">
                                <label class="radio-container m-r-45">Male
                                    <input type="radio" checked="checked" value="Nam" name="gender">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-container">Female
                                    <input type="radio" value="Nữ" name="gender">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Thêm</button>
                        <button type="reset" class="btn btn-secondary">Đặt lại</button>
                    </div>
                </form><!-- Vertical Form -->

            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
