<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Hệ thống quản trị</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="/dashboard">
            <input type="text" name="query" placeholder="Tìm kiếm" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->



        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/dashboard">
                <i class="bi bi-grid"></i>
                <span>Thống kê</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <!--        thiết bị-->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Thiết bị</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/dashboard-devices">
                        <i class="bi bi-circle"></i><span>Thống kê thiết bị</span>
                    </a>
                </li>
                <li>
                    <a href="/adds-devices">
                        <i class="bi bi-circle"></i><span>Thêm thiết bị</span>
                    </a>
                </li>
                <li>
                    <a href="/list-devices">
                        <i class="bi bi-circle"></i><span>Danh sách thiết bị</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Bệnh Nhân</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/list-patients">
                        <i class="bi bi-circle"></i><span>Danh Sách Bệnh Nhân</span>
                    </a>
                </li>
                <li>
                    <a href="/add-patient">
                        <i class="bi bi-circle"></i><span>Thêm Bệnh Nhân</span>
                    </a>
                </li>
                <li>
                    <a href="/curedlist">
                        <i class="bi bi-circle"></i><span>Danh Sách Bệnh Nhân Đã Khỏi</span>
                    </a>
                </li>
                <li>
                    <a href="/dielist">
                        <i class="bi bi-circle"></i><span>Danh Sách Bệnh Nhân Đã Tử Vong</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Bác sĩ</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/list">
                        <i class="bi bi-circle"></i><span>Danh sách bác sĩ</span>
                    </a>
                </li>
                <li>
                    <a href="/adddoctor">
                        <i class="bi bi-circle"></i><span>Thêm bác sĩ</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->







        <li class="nav-heading">Pages</li>



        <li class="nav-item">
            <a class="nav-link collapsed" href="/404">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/contact/to">
                <i class="bi bi-envelope"></i>
                <span>Liên hệ</span>
            </a>
        </li><!-- End Contact Page Nav -->






    </ul>

</aside>
<main id="main" class="main">

    <div class="pagetitle">
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Hiện trạng thiết bị</h5>

            <!-- Pie Chart -->
            <div id="pieChart"></div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#pieChart"), {
                        series: [44, 55],
                        chart: {
                            height: 400,
                            type: 'pie',
                            toolbar: {
                                show: true
                            }
                        },
                        labels: ['Thiết bị đã sử dụng', 'Thiết bị chưa sử dụng']
                    }).render();
                });
            </script>
            <!-- End Pie Chart -->

        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Hiện trạng thiết bị</h5>

            <!-- Bar Chart -->
            <div id="barChart"></div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#barChart"), {
                        series: [{
                            data: [400, 430, 448, 470, 540]
                        }],
                        chart: {
                            type: 'bar',
                            height: 350
                        },
                        plotOptions: {
                            bar: {
                                borderRadius: 4,
                                horizontal: true,
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        xaxis: {
                            categories: ['Thiết bị 1','Thiết bị 2','Thiết bị 3','Thiết bị 4','Thiết bị 5'
                            ],
                        }
                    }).render();
                });
            </script>
            <!-- End Bar Chart -->

        </div>
    </div>
</div>
    </div>
</main>